*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
}

/* Typography */
.my-learning {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #0e0e0e;
  font-size: 0.846875em;
  font-weight: 700;
}

.li {
  list-style: none;
  margin-left: 1.5em;
}
.nav-text {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  color: #090909;
}

.date-hero,
.blog-title-hero,
.preview-hero {
  color: #fff;
}

.blog-title-hero {
  line-height: 35px;
  font-size: 2rem;
  padding: 0.3em 0;
}

.date-hero,
.article-date {
  font-size: 0.75em;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 0.5em;
}

.preview-hero,
.article-body-preview {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* Layout */
.container {
  width: 90%;
  min-width: 375px;
  margin: 0 auto;
}

.logo-img {
  width: 23.16px;
  height: 23.16px;
}

.navigation,
.logo-text-wraper,
.ul {
  display: flex;
  align-items: center;
}

.navigation {
  justify-content: space-between;
  padding: 1.0625em 0;
}

.article-img {
  width: 100%;
  max-height: 270px;
  object-fit: cover;
}

.blog {
  margin: 2em 0;
}

.article-title {
  padding: 0.3em 0;
  color: #141414;
  font-size: 1.2rem;
  font-weight: 700;
}

.hero-post {
  height: 23.8vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1.3em;
}

.main {
  background-image: url(images/main-image.png);
  width: 100%;
  height: 293px;
  background-position: 0 -300px;
  background-size: cover;
}
